<footer class="text-center text-lg-start" style="margin-top: 50px;">
    <div class="container p-3">
      <div class="row center">
        <div class="col-sm-4 col-lg-4">
          <p style="font-size: 17px;font-family:mont serrat;color: aliceblue;">Shanyraq</p>
          <p style=" text-decoration: none; font-family:mont serrat;font-size: 17px;color: aliceblue;"> <i
              class="fa fa-envelope"></i>
            shanyraq.mail.ru</p>
          </a>
        </div>

        <ul>
          <a style="text-decoration:none;color: #e0316c;font-family:mont serrat;font-size: 18px;"
            href="https://www.instagram.com/eco_rbk" class="pad"><i class="fab fa-instagram fa-2x"></i></a>
          <a style="text-decoration:none;color: #6cc1e3;font-family:mont serrat;font-size: 18px;"
            href="https://tlgg.ru/7075456130" class="pad"><i class="fab fa-telegram fa-2x"></i></a>
          <a style="text-decoration:none;color: #25d366;font-family:mont serrat;font-size: 18px;"
            href="https://wa.me/77075456130?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5.%20"
            class="pad"><i class="fab fa-whatsapp fa-2x"></i></a>

        </ul>
      </div>
    </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-light" href="#">Shanyraq</a>
    </div>
  </footer>
  <div class="container-fluid">
    <div class="row category">                
            <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 justify-content-center text-center">
               <a href="/film"> <img  src="/img/31087.png">
                <p style="text-align: center;">Films</p></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 justify-content-center text-center">
                <a href="/cartoon"><img  src="/img/157719_2.png">
                <p style="text-align: center;">Cartoons</p></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 justify-content-center text-center">
               <a href="/qyzyq"> <img  src="/img/fire.png">
                <p style="text-align: center;">Other</p></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 justify-content-center text-center">
                <img  src="/img/telegram_logo_icon_186924.png">
                <p style="text-align: center;">Telegram</p>
            </div> -->
            
        </div>
        
    </div>